@if $use-audio-player == true {

	$player-size: 60px;

	.audiojs {
		position: relative;
		height: $player-size*1.5;
		z-index: 1000;
		width: 100%;
		background-color: $medium-color;

		@include media-query(portable) {
			height: $player-size*1.5;
		}

		@include media-query(handheld) {
			height: $player-size*1.5;
		}

		@include media-query(palm) {
			height: $player-size*1.25;
		}
	}

	@-webkit-keyframes rotation {
	    from {-webkit-transform: rotate(0deg);}
	    to   {-webkit-transform: rotate(359deg);}
	}

	.audiojs {
		background: $dark-color;

		.play-pause {
			position: absolute;
			top: 0px;
			left: 0px;
			height: $player-size*1.5;
			width: $player-size*1.5;
			padding: 0px;
			float: none;
			border-right: 0px;
			background-color: $brand-color;
			z-index: 2;

			p {
				background: none;
				height: 100%;
				width: 100%;

				&:after {
					position: absolute;
					top: $player-size*.75;
					left: 0px;
					width: 100%;
					margin-top: -$player-size/4;
					font-family: 'PlayerIcons';
					font-size: $base-font-size*3;
					color: $light-color;
					text-align: center;
				}

				&.play:after {
					content: '\e600';
				}

				&.pause:after {
					content: '\e601';
				}

				&.loading:after {
					content: '\e602';
					-webkit-animation: rotation .5s infinite linear;
				}

				&.error {
					background: rgba(0,0,0,.2);

					&:after {
						content: '\e603';
					}
				}
			}

			@include media-query(palm) {
				height: $player-size*1.25;
				width: $player-size*1.25;

				p {
					&:after {
						top: $player-size*.5;
						margin-top: -$player-size/8;
					}
				}
			}
		}
	}

	.audiojs {
		&.error {
			background-color: $pinterest;
		}

		.error-message {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			padding: 0 $player-size/2 0 $player-size*2;
			margin: 0px;
			font-family: $base-heading-font;
			font-size: $base-font-size;
			line-height: $player-size*1.5;
			font-weight: 600;
			color: $light-color;
			z-index: 2;
		}

		@include media-query(palm) {
			.error-message {
				padding: 0 $player-size*.5 0 $player-size*1.75;
				line-height: $player-size*1.25;
			}
		}
	}

	.audiojs .scrubber {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: $player-size*1.5;
		width: auto;
		margin: 0px;
		border-top: 0px;
		height: 100%;
		background-color: $dark-color;
		cursor: pointer;
		z-index: 1;

		.progress, .loaded {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 0%;
			height: 100%;
			background: $brand-color;
			z-index: 1;

			@include media-query(handheld) {
				height: $player-size*1.5;
			}

			@include media-query(palm) {
				height: $player-size*1.25;
			}
		}

		.progress:after {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background-color: rgba(0,0,0,.2);
		}

		.loaded {
			background-color: lighten($dark-color,10);
			z-index: 0;
		}

		@include media-query(palm) {
			left: $player-size*1.25;
		}
	}

	.audiojs .time {
		position: absolute;
		top: 50%;
		right: $player-size*.65;
		z-index: 10;
		margin: 0px;
		margin-top: -18px;
		padding: 0px;
		border: 0px;
		text-shadow: none;
		float: none;
		font-family: $base-heading-font;
		font-size: $base-font-size;
		font-weight: 600;
		color: $light-color;

		@include media-query(palm) {
			font-size: $base-font-size*.85;
			right: $player-size/2
		}
	}
}
