@if $use-heroes == true {

    .hero__image {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
    }

    .non-hero {
        padding-top: 100px;
        padding-bottom: 60px;

        @include media-query(handheld) {
            padding-top: 80px;
            padding-bottom: 60px;
        }
    }

    .hero {
        position: relative;
        margin-bottom: 0px;
        padding: 0px;

        .fa-icon--play {
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -$base-spacing-unit/4*3;
            margin-bottom: -$base-spacing-unit/4*3 !important;
            background-color: $primary-color;

            &:hover {
                background-color: $secondary-color;
                border-color: $light-color;

                &:before {
                    color: $light-color;
                }
            }

            @include media-query(handheld) {
                width: $base-spacing-unit;
                height: $base-spacing-unit;
                margin-left: -$base-spacing-unit/2 !important;
                margin-bottom: -$base-spacing-unit/2 !important;
            }
        }

        .floating--left {
                .text--constrained {
                        text-align: left;
                        max-width: 960px;
                }
        }

        .floating--right {
            .text--constrained {
                display: inline-block;
                text-align: right;
                margin: 0px;
                max-width: 960px;
            }
        }


        h1 {
            display: inline-block;
        }

        p, a:not(.btn), li {
                font-family: $base-heading-font;
                font-size: $base-font-size;
                line-height: $base-line-height;
        }

        b {
                font-family: $base-heading-font;
                text-transform: uppercase;
        }

        // .overlay__item {
        //         padding: 90px;

        //         *:last-child {
        //                 margin-bottom: 0px;
        //         }
        // }

        @include media-query(handheld) {
                h1 {
                        font-size: $handheld-h1;
                        line-height: $handheld-h1;
                        // margin-bottom: $base-spacing-unit/4;
                        text-shadow: 0 0 15px rgba(0,0,0,0.3);
                }

                // .overlay__item {
                //         padding: 20px;
                //         padding-top: 25px;
                // }
        }

    }
        
}