@if $use-sections == true {

	/* ============================================================

	$SECTION

	defines the base spacing of sections


	============================================================ */

	section {
		margin: 0 auto;
		width: 100%;
		overflow: hidden;
		position: relative;
    background-color: $light-color;

		.shell {
			background-color: inherit;
		}
	}

	@keyframes liveBannerBG {
		0% {
			background-color: $liveBanner-primary;
		}
		50% {
			background-color: $liveBanner-secondary;
		}
		100% {
			background-color: $liveBanner-primary;
		}
	}

	@keyframes phaders {
		from {
			opacity: 0;
		}
	}

	.section--live {

		.animate--bg {
			animation-duration: 10s;
			animation-iteration-count: infinite;
			animation-name: liveBannerBG;
			animation-timing-function: cubic-bezier(0.66, 0.21, 0.49, 0.88);
		}

		.shell {
			@include media-query(handheld) {
				padding: $base-spacing-unit / 4 $base-spacing-unit / 6 $base-spacing-unit / 6 !important;
			}
		}

		h6 {

			@include media-query(handheld) {
				font-size: 16px;
			}
		}

		.animate--text {
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-name: phaders;
			animation-direction: alternate;
		}
	}

	.section--grey,
	.section--gray,
	.section--medium {

		.shell {
      background-color: lighten($medium-color, 35);
    }
	}

	.section--dark {

		.shell {
      background-color: $dark-color;
    }
	}

	.section--black {

    .shell {
      background-color: black;
    }

	}

	.section--primary {

		.shell {
      background-color: $primary-color;
    }
	}

	.section--secondary {

		.shell {
      background-color: $secondary-color;
    }
	}

	.section--tertiary {

		.shell {
      background-color: $tertiary-color;
    }
	}

	.section--live,
	.section--dark,
	.section--black {
		*:not(a):not(.link--arrow):not(button):not(small):not(b):not(input) {
			color: $light-color;
		}

		h1, h2, h3, h4, h5, h6 {
			a {
				color: $light-color;
			}
		}

		.card, form {
			*:not(a):not(.link--arrow):not(button):not(small):not(b) {
				color: $dark-color;
			}

			h1, h2, h3, h4, h5, h6 {
				a {
					color: $dark-color;
				}
			}
		}
	}

	.section--pattern {
		.shell {
			position: relative;

			&:before, &:after {
				content: "";
				@include absolute(bottom 0);
				background-size: cover;
				width: 300px;
				height: 300px;
				z-index: 1;

				@include media-query(handheld) {
					width: 100px;
					height: 100px;
				}
			}


			&:before {
				left: 0;
				background-image: url('//s3.amazonaws.com/ns.images/newspring/_fpo/pattern.left.02.png');
			}

			&:after {
				right: 0;
				background-image: url('//s3.amazonaws.com/ns.images/newspring/_fpo/pattern.right.02.png');
			}
		}
	}

	.section--primary,
	.section--secondary,
	.section--tertiary {

		h1, h2, h3, h4, h5, h6, p, li, small {
			color: $light-color;

			a {
				color: $light-color;
			}

			&:hover {
				a {
					color: $light-color;
				}
			}
		}

		a, .card a {
			color: $primary-color;

			&:hover {
				color: darken($primary-color, 15);
			}
		}

		a.btn {
			color: $light-color;
			border-color: $light-color;

			&:hover {
				color: $secondary-color;
				border-color: $light-color;
				background-color: $light-color;
			}
		}

		a.btn.btn--filled {
			background-color: $primary-color;
			border-color: $primary-color;
			color: $light-color;

			&:hover {
				border-color: $primary-color;
			}
		}

		a.link--arrow {
			&:after {
				border-color: $light-color;
			}
		}

		.card {
			h1, h2, h3, h4, h5, h6 {
				color: $dark-color;

				a {
					color: $dark-color;
				}
			}

			p, li {
				color: $dark-color;
			}

			small {
				color: $medium-color;
			}
		}
	}

	.section--primary {
		a {
			color: $tertiary-color;
		}

		// .link--arrow {
		// 	&:after {
		// 		border-color: $tertiary-color;
		// 	}

		// 	&:hover {
		// 		color: $tertiary-color;

		// 		&:after {
		// 			border-color: $tertiary-color;
		// 		}
		// 	}
		// }

		a.btn {

		}


		a.btn.btn--filled {
			background-color: $tertiary-color;
			border-color: $tertiary-color;

			&:hover {
				border-color: $tertiary-color;
			}
		}

		.card {
			a {
				color: $primary-color;

				&:hover {
					color: darken($primary-color, 15);
				}
			}

			.link--arrow {
				&:after {
					border-color: $primary-color;
				}

				&:hover {
					&:after {
						border-color: darken($primary-color, 15);
					}
				}
			}
		}
	}

}