@if $use-masthead == true {

	.masthead {
		position: relative;
		background-color: $light-color;

		z-index: map-get($zindex, masthead);

		box-shadow: none;
		overflow: visible;

		.shell {
			box-shadow: 0 0 25px rgba(0,0,0,.1);
		}

		a {
			text-decoration: none;
		}

		&.masthead--transparent {
			@include absolute(top 0px right 0 left 0);
			background-color: transparent;

			.shell {
				z-index: 1;
				box-shadow: none;
			}

			.masthead-bar {
				background-color: transparent;
			}

			// This accounts for transparent nav and keeps proper spacing.
			& + section .hero.background--fill {

				&:not(.lap-wide-and-up-ratio--hero) {

					.floating {

						@include media-query(lap-wide-and-up) {
							padding-top: 80px;
						}
					}
				}

				.lap-wide-and-up-ratio--hero {

					&:before {
						padding-top: calc(44.44444% + 85px);
					}
				}

				.floating {

					@include media-query(handheld) {
						padding-top: 65px;
					}

					@include media-query(portable) {
						padding-top: 65px;
					}
				}

			}

			@include media-query(lap-wide-and-down) {
				top: 0px;
			}
		}
	}

	.masthead--floating {
		position:fixed;
	}

	.masthead-wrapper {
		.masthead-bar {
			position: relative;
			text-align: right;
			background: $light-color;

			&:after {
				clear: both;
				content: '.';
				display: block;
				visibility: hidden;
				height: 0;
			}
		}

		@include media-query(lap-wide-and-down) {
			padding: 0;
			// nav.floating__item {
			// 	@include absolute(left 0 right 0 top 0 bottom 0);
			// }
		}
	}


	.icon {
		cursor: pointer;
	}

	.icon.fa-bars {
		background-color: $brand-color;
		color: $light-color;
		z-index: map-get($zindex, masthead) + 1;

		.masthead--transparent & {
			background-color: transparent;
		}
	}

	.icon.fa-search {
		color: $dark-color;

		z-index: map-get($zindex, masthead) + 1;
		@include media-query(lap-wide-and-down) {
			border-left: 2px solid $base-ui-color;
		}
	}

	.masthead--transparent {
		.icon {
			font-size: $icon-size*.5;
			width: 48px;

			@include media-query(lap-wide-and-down) {
				margin-top: 6px;
			}
		}

		.icon.fa-search {
			color: $light-color;
			border-left: 0px;
		}

		.icon.fa-bars {
			background-color: transparent;
			margin-right: 10px;
		}

		.shell {
			&:after {
				content: '';
				z-index: 0;
				@include absolute(top -5px right 0 left 0);
				height: 120px;
				background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
				opacity: .7;
			}

			.masthead-wrapper {
				position: relative;
				// top: 5px;
				z-index: 1;
			}
		}
	}

	a.logo {
		color: $primary-color !important;
	}

	.logo {
		float: left;
		@include relative(top 9px left 16px);
		margin: 0px;
		margin-right: 10px;
		text-decoration:none;

		.newspring-mark {
			font-family: 'newspring-icofont';
			font-size: $base-font-size*2;
			margin-right: $base-spacing-unit/5;

			.masthead--transparent & {
				color: $light-color;
			}
		}

		h1 {
			position: relative;
			top: 2px;
			display: inline-block;
			vertical-align: top;
			font-family: $base-heading-font;
			font-weight: 900;
			font-size: $base-font-size;
			line-height: 23px;
			letter-spacing: 1px;
			color: $dark-color;
			max-width: 180px;
			text-align: left;
			margin: 0px;
			text-transform: uppercase;

			.masthead--transparent & {
				color: $light-color;
			}
		}

		@include media-query(lap-wide-and-down) {
			// float: none;
			// z-index: map-get($zindex, masthead) + 1
			@include absolute(left 15px top 5px);

			h1 {
				font-size: 18px;
				line-height: 18px;
				margin-top: 4px !important;

				&span {
					display: inline-block;
					@include media-query(lap-wide-and-down) {
						display:none;
					}
				}
			}

			.newspring-mark {
				font-size: $base-font-size*1.45;
				margin-right: $base-spacing-unit/8;
				margin-bottom: -5px;
			}

			.masthead--transparent & {
				@include absolute(left 15px top 10px);
			}
		}
	}


	.nav--primary {
		margin: 0px;
		list-style: none;

		li, a {
			display: inline-block;
			vertical-align: top;
		}

		li {
			position: relative;
			padding: 0px;
			margin: 0px;

			a {
				margin: 0px;
				font-family: $base-heading-font;
				line-height: $base-line-height;
				color: lighten($dark-color, 5%);
				@include vendor(transition, all 0s);
				border-left: 2px solid #eee;
				font-weight: 500;
				font-size: $base-font-size*.8;
				letter-spacing: 0;
				padding: 27px 25px 23px 23px;
				text-transform: none;

				// Kills left borders and padding on main nav
				@media all and (max-width: 1131px) {
					border-left: 0 none;
					padding-right: 18px;
					padding-left: 18px;
				}

				.fa {
					font-family: FontAwesome;
					padding: 0px;
				}

				.masthead--transparent & {
					border-left: 0px;
					color: $light-color;
				}
			}

			&:hover {
				> a {
					background: $dark-color;
					color: $brand-color;
					border-left: 2px solid $dark-color;

					// Kills left borders on dropdowns
					@media all and (max-width: 1131px) {
						border-left: 0 none;
					}

					.masthead--transparent & {
						border-left: 0;
						background-color: rgba($dark-color, 0.96);
					}
				}

				// Enable Dropdown on Hover
				@include media-query(lap-and-up) {
					ul {
						display: block;
					}
				}

			}

			&.subnav--right {
				ul {
					position: absolute;
					left: auto;
					right: 0px;
				}
			}

			.search {
				background: $brand-color;
				color: $light-color;
				border-left: none;
				line-height: 80px;
				// margin-left: 30px;
				width: 80px;
				height: 80px;

				.masthead--transparent & {
					background-color: transparent;
					width: 60px;
					margin-right: 20px;
				}
			}
		}

		// Dropdown Styling
		ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0px;
			margin: 0px;
			padding: 10px 20px;
			list-style: none;
			background: $dark-color;

			.masthead--transparent & {
				background-color: rgba($dark-color, 0.98);
			}

			&:after {
				content: '';
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 30px;
				background: -moz-linear-gradient(top,  rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(0,0,0,.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			}

			li {
				width: 100%;

				a {
					width: 100%;
					padding: 15px 0;
					text-align: left;
					color: darken($light-color, 60);
					font-size: $base-font-size*.8;
					letter-spacing: 0px;
					line-height: $base-line-height*.7;
					border-bottom: 1px solid lighten($dark-color, 7);
					border-left: 0 none;
					font-weight: 500 !important;
					text-transform: none;

					.masthead--transparent & {
						color: darken($light-color, 60);
					}
				}

				&:hover {
					a {
						color: $light-color;
						font-weight: 500;
						font-size: $base-font-size*.8;
						border-left: 0px;

						.masthead--transparent & {
							background-color: transparent;
						}
					}
				}

				&:last-child {
					a {
						border-bottom: 0px;
					}
				}
			}
		}

		@include media-query(lap-wide-and-down) {
			display:none;

			&.mobile-nav {
				display:block;
				// @include fixed(left 0 right 0 top 0 bottom 0);
				padding: 0;
				padding-bottom: 25px;
				width: 100%;
				margin-top: ($icon-size + ($border-size*2)) * 1.5;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;

				li {
					display: inline-block;
					width: 100%;
					text-align: left;

					&.search {
						display: none;
					}

					a {
						width: 100%;
						color: white;
						font-family: $base-heading-font;
						font-size: $base-font-size*1.2;
						padding: 15px 25px;
						text-decoration: none;

						&:hover {
							background: transparent;
							color: $brand-color;
						}
					}

					&:hover {
						background: transparent;

						a {
							background: transparent;
						}
					}

					&.expanded {
						a {
							color: $brand-color;
						}

						ul {
							display: block;
						}
					}

					&.give {
						ul {
							position: relative;
						}
					}

					ul {
						display: block;
						position: relative;
						background: transparent;
						padding-top: 0px;
						padding-bottom: 0px;

						&:after {
							display: none;
						}

						a {
							color: $brand-color;
							border-bottom: none;
							padding: 13px 25px;
							font-size: $base-font-size*.9;

							&:hover {
								color: $light-color;
							}
						}
					}
				}
			}

		}
	}

	.mobile-nav-container {
		.close {
			background-color: $alert-color;
			color: $light-color;
		}

	   .logo {
	   		// position: absolute;
	   		// top: 5px;
	   		// left: 10px;
	     	text-align: left;

	     	h1 {
	       		color: $light-color;
	     	}

	     	img {
	       		display: inline-block;
	       		max-width: 100px;
	     	}

	     	.newspring-mark {
				color: $light-color;
	     	}
	   	}
	}
}


// Dark Theme

.masthead-bar.dark {
	background: #000;

	.logo {

		h1 {
			color: $light-color;
		}
	}

	.nav--primary {
		> li {
			> a {
				color: $light-color;
				border-left: 2px solid $dark-color;
			}

			&:hover {
				& > a {
					color: $brand-color;
				}
			}
		}
	}

	.icon.fa-search {
		color: $light-color;
	}
}
