@if $use-sidebyside == true {

	/*
		Side By Side Section Styles
	*/

	.cover-half {
		position: absolute; 
		top: 0px; 
		left: 0px; 
		width: 50%; 
		height: 100%;

		& > div, & > a, & > a > div {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}

		&.cover-half--right {
			right: 0px;
			left: auto;

			div {
				right: 0px;
				left: auto;
			}
		}
	}

	.fa-icon.fa-icon--filled {
		background-color: $primary-color;
		border-color: $light-color;

		&:before {
			color: $light-color;
		}

		&:hover {
			background-color: $tertiary-color;

			&:before {
				color: $light-color;
			}
		}
	}

	.fa-icon.fa-icon--play.fa-icon--overlap {
		position: absolute;
		top: 50%;
		margin-top: -$base-spacing-unit*.75;

		&.fa-icon--overlap-right {
			right: 0px;
			margin-right: -$base-spacing-unit*.75;

			@include media-query(handheld) {
				top: 0;
				right: 50%;
				margin-top: -$base-spacing-unit*.75;
				margin-right: -$base-spacing-unit*.75;
			}
		}

		&.fa-icon--overlap-left {
			left: 0px;
			margin-left: -$base-spacing-unit*.75;

			@include media-query(handheld) {
				top: 0;
				left: 50%;
				margin-top: -$base-spacing-unit*.75;
				margin-left: -$base-spacing-unit*.75;
			}
		}

		@include media-query(handheld) {
			width: $base-spacing-unit*1.5;
			height: $base-spacing-unit*1.5;

			&:before {
				font-size: $base-font-size*2.5;
			}
		}
	}

}