/*
    NewSpring Web Core Styles -- $RATIOS
*/


/* ============================================================

    $FIXED-RATIO

    Used to generate empty ratio based containers

    @param width         :  Value
    @param height        :  Value
    @param child         :  String

    Used in markup:

    <div class="className">
        <div class="square">
            <!-- content goes here -->
        </div>
    </div>

    Used in sass:

    .className {
        @include fixed-ratio(1, 1, square)
    }

============================================================ */


@mixin fixed-ratio($width, $height, $child){

    // Get percentage based off of width and height variables
    $percentage : ($height/$width * 100%);

    // Set position as relative to contain absolute child
    position: relative;
    display: block;
    margin-bottom: $base-spacing-unit/2;

    // Use pseudo element to inflate container to ratio size
    &:before{
        content: "";
        display: block;
        padding-top: $percentage;
    }

    // Set child to fill all of parent element
    .#{$child}{
        @include absolute(top 0 left 0 bottom 0 right 0);
    }
}

    //[todo]  - add positioning option

    @mixin _ratio-setup($namespace: "") {

        /*

        Thin

        */
        .#{$namespace}ratio--thin         { @include fixed-ratio(4, 1, ratio__item ); }
        
        /*

        Hero

        */
        .#{$namespace}ratio--hero         { @include fixed-ratio(2.25, 1, ratio__item ); }

        /*

        Landscape

        */
        .#{$namespace}ratio--landscape         { @include fixed-ratio(2, 1, ratio__item ); }

        /*

        Short Square

        */
        .#{$namespace}ratio--shortsquare         { @include fixed-ratio(1.25, 1, ratio__item ); }

        /*

        Square

        */
        .#{$namespace}ratio--square         { @include fixed-ratio(1, 1, ratio__item ); }
        
        /*

        Tall Square

        */
        .#{$namespace}ratio--tallsquare         { @include fixed-ratio(.65, 1, ratio__item ); }


        /*

        Portrait

        */
        .#{$namespace}ratio--portrait         { @include fixed-ratio(.5, 1, ratio__item ); }

    }
