/* ----------------------------------------------------------------------------
	FONT: Chartwell
---------------------------------------------------------------------------- */
/* first for Internet Explorer < 9 */
@font-face {
font-family: ChartwellTextWebPro;
src: url("//d3n6tjerleuu41.cloudfront.net/fonts/chartwell/ChartwellTextWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
font-family: ChartwellTextWebPro;
src: url("//d3n6tjerleuu41.cloudfront.net/fonts/chartwell/ChartwellTextWebPro.woff") format("woff");
}