/* ----------------------------------------------------------------------------
	FONT: NewSpring Icon Font
---------------------------------------------------------------------------- */
@font-face{
	font-family: 'newspring-icofont';
	src: url('//d3n6tjerleuu41.cloudfront.net/fonts/iconfont/newspring-icofont.eot');
	src: url('//d3n6tjerleuu41.cloudfront.net/fonts/iconfont/newspring-icofont.eot?#iefix') format('embedded-opentype'), 
		 url('//d3n6tjerleuu41.cloudfront.net/fonts/iconfont/newspring-icofont.woff') format('woff'), 
		 url('//d3n6tjerleuu41.cloudfront.net/fonts/iconfont/newspring-icofont.ttf') format('truetype'), 
		 url('//d3n6tjerleuu41.cloudfront.net/fonts/iconfont/newspring-icofont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}